v4/item.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="solutions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="solution" maxOccurs="5" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="linktext"/>
                    <xs:element type="xs:string" name="linkurl"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="supportoptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="supportoption" maxOccurs="5" minOccurs="1">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="1">
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:string" name="linkurl"/>
                    <xs:element type="xs:string" name="icon"/>
                    <xs:element name="numbers">
                      <xs:complexType>
                        <xs:choice maxOccurs="5" minOccurs="0">
                          <xs:element type="xs:string" name="numbertitle"/>
                          <xs:element type="xs:string" name="numberurl"/>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>